<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/design.css">
    <link rel="stylesheet" href="css/boxicons.min.css">

    <title>Web Page</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand logo-text" href="#">Nafiz Mustafa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item ">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">protfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contacts</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="home">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-10 mx-auto">
                    <h1 class="text-white display-4" id="homeH1">
                        We are creative agency, creative people
                    </h1>
                    <p class="text-white ">P.A.R.A. stands for Projects — Areas — Resources — Archives, the four top-level categories that encompass every type of information you might encounter in</p>
                    <a href="#contact" class="btn btn-brand">contacts</a>
                </div>
            </div>
        </div>
    </section>

    <Section id="services">
        <div class="container">
            <div class="row">
                <div class="col-12 serviceIntro">
                    <h1>Our services</h1>
                    <div class="hline"></div>
                </div>
            </div>

        </div>

        <div class="row p-5 bg-secondary">
            <div class="col-lg-4 col-sm-6 ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  ">
                <div class="ServiceItemGrip bg-light">
                    <div class="icon-box">
                        <i class='bx bxs-message-alt'></i>
                    </div>
                    <h3 class="title-sm mt-4 text-center">
                        Grapics design
                    </h3>
                    <p class="text-center lh-sm">GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>
            </div>

        </div>



    </Section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12 serviceIntro">
                    <h1>portfolio</h1>
                    <div class="hline"></div>
                </div>

            </div>
        </div>
        <div id="portfolioGrip ">
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p1.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p2.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p3.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p2.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p3.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <img src="img/p1.jpg">
                        <div class="portfolio-overlay">
                            <div>
                                <h3>project title</h3>
                                <h6>project subtitle</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <Section id="features">
        <div class="container">
            <div class="row">
                <div class="col-12 serviceIntro">
                    <h1>features</h1>
                    <div class="hline"></div>
                </div>
            </div>

        </div>
        <div class="row p-5 bg-secondary">
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 ">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 ">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 ">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 mt-3">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 mt-3 ">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 Feature d-flex bg-light p-3 mt-3">

                <div class="icon-box me-3">
                    <i class='bx bx-check'></i>
                </div>
                <div>
                    <h4 class="title-sm">
                        Feature
                    </h4>
                    <p>GigaPromo is the website to compare Usa Bulk Sms. Search and save now! Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online.</p>
                </div>

            </div>
        </div>

    </Section>

    <Section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 serviceIntro">
                    <h1>contact</h1>
                    <div class="hline"></div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-lg-4 me-5">
                    <img src="img/p6.jpg" alt="">
                </div>
                <div class="col-lg-6 ms-3 ">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1 "><h5 class="email">Email address</h5></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><h6 class="pass">Password</h6></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"><p>Check me out</p></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </Section>

    <footer>
        <div class="footerSec bg-secondary mt-5 p-3 text-center">
            <P class="footerP">We are always ready for you.</P>
            <h5>Thank You</h5>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>